<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>My Blog</title>
    <link rel="stylesheet" href="../static/styles/panelStyle.css" data-th-href="@{/styles/panelStyle.css}">
    <link rel="shortcut icon" href="../static/images/reading-student-svgrepo-com.svg" data-th-href="@{/images/reading-student-svgrepo-com.svg}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"
          data-th-href="@{https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}">
</head>
<body>
<!--nav-bar-->
<div class="top-nav">
    <a class="active" href="/">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a id="log-in" href="/blog/panel">
        <img id="sign" src="../static/images/sign-in-white.svg" data-th-src="@{/images/sign-in-white.svg}">
    </a>
</div>
<!--blog-->
<section id="blog">
    <div class="blog-heading">
        <span th:text="'Signed in as ' + ${username}">username</span>
        <h3>Panel</h3>
    </div>

    <div class="panel-options">
        <div class="adding-buttons">
            <div class="plus-anchor">
                <a href="/blog/panel/addPostForm">
                    <div class="plus-img">
                        <img src="../static/images/plus.svg" data-th-src="@{/images/plus.svg}">
                    </div>
                </a>
            </div>
            <div class="button-anchor">
                <a href="/blog/panel/addPostForm">
                    <button id="add-post-button" name="addPost" type="submit" >Add post</button>
                </a>
            </div>
        </div>
        <div class="added-by">
            <span >Added By</span>
        </div>
        <div th:if="${isAdmin}" class="panel-option">
            <a href="/blog/panel/manageUsers">
                <button id="manage-users-button" name="manageUsers" type="submit" >Manage users</button>
            </a>
        </div>
            
    </div>

        <!--post-lists-->
        <div class="panel-box">
            <div class="panel-post" th:each="post : ${posts}">
                <div id=#post-title class="panel-post-item">
                    <p th:text="${post.getTitle()} + ' ' + ${post.showPublicationDate()}">Tytuł</p>
                </div>
                <div id="added-by" class="panel-post-item">
                    <p th:text="${post.getAddedBy()}">Guwno</p>
                </div>
                <div clas="buttons">
                    <div th:if="${post.isHidden()}" class="panel-post-item">
                        <a th:href="@{/blog/panel/publish/{id}(id=${post.getId()})}">
                            <button id="publish-button" name="publish">Publish</button>
                        </a>
                    </div>
                    <div th:unless="${post.isHidden()}" class="panel-post-item">
                        <a th:href="@{/blog/panel/hide/{id}(id=${post.getId()})}">
                            <button id="hide-button" name="hide">Hide</button>
                        </a>
                    </div>
                    <div class="panel-post-item">
                        <a th:href="@{/blog/panel/edit/{id}(id=${post.getId()})}">
                            <button id="edit-button" name="Edit">Edit</button>
                        </a>
                    </div>
                        <div class="panel-post-item">
                            <a th:href="@{/blog/panel/delete/{id}(id=${post.getId()})}">
                                <button id="delete-button" name="Delete" type="submit">Delete</button>
                            </a>
                        </div>


                </div>
            </div>
        </div>
</section>


</body>
</html>