* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
/* Add a black background color to the top navigation */
.top-nav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .top-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .top-nav a.active {
    background-color: #04AA6D;
    color: white;
  }
.top-nav #log-in {
    position: absolute;
    top: 0;
    right: 0;
}
.top-nav a img {
    height: 18px;
    width: auto;
}

/*--blog--------*/
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0, 0.05);
}
.panel-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding-bottom: 5px;
}
.adding-buttons {
    display: flex;
    align-items: center;
}
.panel-options .plus-anchor{
    width: 32px;
    margin-right: 5px;
    
}
.panel-options .plus-anchor .plus-img img {
    border-radius: 2px;
}
.panel-options .plus-anchor .plus-img {
    height: 32px;
}

.panel-options .added-by {
    position: absolute;
    right: 47.9%;
    font-size: 1.1rem;
    color: #2b2b2b;
    font-weight: 600;
}
#added-by {
    color: #2b2b2b;
    position: absolute;
    right: 49%;
}


#add-post-button {
    background-color:#04AA6D;
    font-size: 1.1rem;
    cursor: pointer;
    height: 32px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 2px;
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span {
    color: #f33c3c;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.panel-box{
    display: flex;
    justify-content: center;
    border: 1px solid #ececec;
    flex-direction: column;
    width: 70%;
}
.panel-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ececec;
}
.panel-post:last-of-type{
    border-bottom: none;
}

.panel-post-item {
    display: inline-block;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#delete-button {
    background-color: #d75252;
    font-size: 1.1rem;
    cursor: pointer;
    height: 32px;
    width: 80px;
    border: none;
    color: white;
    border-radius: 2px;
    margin-right: 10px;
}

#edit-button {
    background-color: #797272;
    font-size: 1.1rem;
    cursor: pointer;
    height: 32px;
    width: 80px;
    border: none;
    color: white;
    border-radius: 2px;
    margin-right: 10px;
}

#hide-button {
    background-color: #084cdf;
    font-size: 1.1rem;
    cursor: pointer;
    height: 32px;
    width: 80px;
    border: none;
    color: white;
    border-radius: 2px;
    margin-right: 10px;
}

#publish-button {
    background-color: #084cdf;
    font-size: 1.1rem;
    cursor: pointer;
    height: 32px;
    width: 80px;
    border: none;
    color: white;
    border-radius: 2px;
    margin-right: 10px;
}

#manage-users-button {
    background-color: #084cdf;
    font-size: 1.1rem;
    cursor: pointer;
    height: 32px;
    width: 160px;
    border: none;
    color: white;
    border-radius: 2px;
}



